

<div class="cui-example cui-example-vertical-spacing">
  <ol class="breadcrumb">
    <h4 class="font-weight-bold">
    <li class="breadcrumb-item">
    <%= render_breadcrumbs :separator => " / " %>
    </li>
    </h4>
  </ol>

<%= render 'form', project: @project %>
