
<div class="card-body demo-vertical-spacing">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><%= breadcrumbs pretext: "You are here: ", display_single_fragment: true, style: :bootstrap, separator: ' / ' %></li>
  </ol>

<%= render 'form', project: @project %>
